table {
    font-family: arial, sans-serif;
    width: 100%;
    
  }
  
  tr, td, th {
    text-align: left;
    padding: 8px;
    
  }

  tr.noBorder td {
    border-top:none; 
    border-bottom:none;
    border-left: 1px  solid lightgrey;
  }

  tr.headerBorder td {
    border:0;
  }

  tr.headerBorder th {
    border:0;
  }

  tr.noBorder th{
    border-top:none; 
    border-bottom:none;
    border-right: 1px  solid lightgrey;
  }
  table {
    border-spacing: 0px;
    }
  .mainfeature {
    background-color:lightgrey;
  }

  .initialPrice{
    text-decoration: line-through;
    color:silver;
    font-weight: bold;
  }
  .finalPrice{
     font-weight: bold;
  }
  .discount{
    color:green;
    font-weight: bold;
  }

  .initialPrice, .finalPrice, .discount{
    display:inline-block;
    margin:3px;
  }

  .labelDifference{
    margin:10px;
  }
  .titleCompare{
    font-size:xx-large
  }
  .titleProductsLength{
    font-weight: normal;
  }
  .addproduct{
    font-size: large;
    font-weight: bold;
    margin-bottom: 3px;
  }
  .contentdiv{ 
    height:300px; 
    position: relative;
    text-align: center;
    margin-bottom: 30px;
} 
.contentdiv img { 
    width:100%; 
    height:70%; 
} 
.contentdiv button { 
  width:50%; 
  position: absolute; 
  bottom: 0;
} 

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blank{
  height: 150px;
  background-color:lightgrey;
}